name: build
on: [pull_request, push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v3
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: Setup jdk 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'adopt'
      - name: Build
        run: ./gradlew build
      - name: Upload combined jar
        uses: actions/upload-artifact@v4
        with:
          name: Combined
          path: "build/libs/*.jar"
      - name: Upload combined-dev jar
        uses: actions/upload-artifact@v4
        with:
          name: Combined-dev
          path: "build/devlibs/*.jar"
      - name: Upload velocity jars
        uses: actions/upload-artifact@v4
        with:
          name: Velocity
          if-no-files-found: error
          path: "velocity/build/libs/*.jar"
